.Toolbar .sign-in-btn {
  background-color: #ffbf00;
  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
  padding: 4px 12px;
  margin: 0 4px;
  border-radius: 8px;
  outline: 0;
  width: auto;
  text-align: center;
  letter-spacing: normal;
  /* Transition darker when hover */
  transition: 0.5s;
  background: linear-gradient(#ffbf00, rgba(24, 34, 44, 0.3)) top/100% 800%;
}

.Toolbar .sign-in-btn:hover {
  background-position:bottom;
  color: #ffbf00;
}
