.article-container {
  padding: 12px;
  background-color: #f1f1f1;
  position: relative;
  flex: 1 0 calc(25% - 14px);
  flex-wrap: wrap;
  min-width: 140px;
  margin: 7px;
  border-radius: 4px;
  transition: transform 0.2s ease-in-out;
}

.article-container:hover {
  transform: translate(0, -10px);
}

.article-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: solid 1px #4f76be;
  margin-bottom: 5px;
}

.article-author {
  color: #2aad61;
  font-size: small;
}

.article-content {
  margin-top: 5px;
  color: #4f76be;
  font-size: medium;
}

@media (min-width: 499px) and (max-width: 1024px) {
  .article-image {
    height: 180px;
  }

  .article-author {
    display: none;
  }
}

@media (min-width: 1025px) {
  .article-image {
    height: 250px;
  }
}
