.nav-question-container {
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

$brown: #868686;
$angle: 8px;
$angle-o: 4px;

.nav-question-container {
  transition: all 0.2s linear 0s;
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  border-radius: 4px;

  text-transform: uppercase;
  color: $brown;
  font-family: arial;
  letter-spacing: 1px;

  box-shadow: -8px 8px 0 $brown;
  text-decoration: none;

  &:hover {
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 $brown;
    background-color: #4395e2;
    color: white;

    &::after {
      top: 1px;
      left: -2px;
      width: $angle-o;
      height: $angle-o;
    }

    &::before {
      bottom: -2px;
      right: 1px;
      width: $angle-o;
      height: $angle-o;
    }
  }

  &::after {
    transition: all 0.2s linear 0s;
    content: '';
    position: absolute;
    top: 2px;
    left: -4px;
    width: $angle;
    height: $angle;
    background-color: $brown;
    transform: rotate(45deg);
    z-index: -1;
  }

  &::before {
    transition: all 0.2s linear 0s;
    content: '';
    position: absolute;
    bottom: -4px;
    right: 2px;
    width: $angle;
    height: $angle;
    background-color: $brown;
    transform: rotate(45deg);
    z-index: -1;
  }
}
