@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

.a {
  color: #e7484f;
}
.b {
  color: #f68b1d;
}
.c {
  color: #fced00;
}
.d {
  color: #009e4f;
}
.e {
  color: #00aac3;
}
.f {
  color: #732982;
}

.rainbow {
  background-color: #ffbf00;
  color: rgb(30, 30, 30);
  font-size: 16px;
  line-height: 35px;
  padding: 4px 16px;
  margin: 0 16px;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  /* Transition darker when hover */
  transition: 0.5s;
}

.rainbow-1:hover {
  background-image: linear-gradient(90deg, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
  animation: slidebg 5s linear infinite;
  color: white;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
