.nav-button {
  font-size: 15px;
  position: relative;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  color: black;
  padding: 12px 16px;
}

.nav-button:hover {
  cursor: pointer;
  color: white;
}
