.result-screen {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.result-screen-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-screen-left .result-container {
  margin-top: 0px;
}

.result-container {
  background-color: white;
  padding: 20px;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-container.pass {
  background-color: #4395e2;
  color: #ffbe00;
}

.result-container.fail {
  background-color: crimson;
  color: white;
}

$brown: #868686;
$angle: 8px;
$angle-o: 4px;

.result-container {
  top: 0;
  left: 0;
  transition: all 0.15s linear 0s;
  position: relative;
  padding: 15px 25px;
  margin: 40px;
  border-radius: 4px;

  text-transform: uppercase;
  color: $brown;
  font-family: arial;
  letter-spacing: 1px;

  box-shadow: -6px 6px 0 $brown;
  text-decoration: none;
}

a.btn {
  position: relative;
}

a:active.btn {
  top: 6px;
  left: -6px;
  box-shadow: none;

  &:before {
    bottom: 1px;
    right: 1px;
  }

  &:after {
    top: 1px;
    left: 1px;
  }
}

.result-container p {
  margin: 40px;
  font-size: 24px;
}

.result-container span {
  margin: 20px;
  font-size: 80px;
  text-shadow: 2px 2px #868686;
}
