.footer-section {
  background-color: #263238;
  padding-top: 20px;
  width: 99vw;
  position: absolute;
  left: 0;
}

.footer-description {
  color: white;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  flex: 1 0 25%;
  padding: 0 20px;
}

.footer-logo img {
  max-width: 150px;
  max-height: 35px;
  margin-bottom: 20px;
}

.footer-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-nav {
  display: flex;
  flex: 1 0 50%;
  justify-content: space-evenly;
}

.footer-icons {
  width: 160px;
  height: min-content;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.footer-icons a {
  width: 45px !important;
  height: 45px !important;
  line-height: 1;
  display: flex;
  flex: 1 0 25%;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  margin: 0 0 6px 6px;
  padding: 0;
  transition: 0.2 background-colors ease;
  border-radius: 8px;
  background-color: white;
}

.footer-icons a:hover {
  background-color: #ffbf00;
}

.footer-icons svg {
  width: 13px;
  height: 13px;
}

.footer-nav-column h5 {
  text-transform: uppercase;
  color: white;
}

.footer-nav-column ul {
  margin: 0;
  padding: 0 20px 0 0;
}

.footer-nav-column li a {
  color: #5785db;
}

.footer-nav-column li {
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 16px;
  list-style: none;
  letter-spacing: 0.5px;
}

.footer-copyright {
  padding: 5px 20px;
  color: white;
}

.footer-nav-column a:hover {
  color: white;
}
